  
  <% layout("layouts/boilerplate") %> 
  
  
<div id="filters">

  <a href="/listings" class="filter <%= !category? 'active' : ''%> ">
    <div><i class="fa-regular fa-compass"></i></div>
    <span>Explore All</span>
  </a>

  <a href="/listings?category=Rooms" class="filter <%= category === 'Rooms'? 'active' : ''%>">
    <div><i class="fa-solid fa-bed"></i></div>
    <span>Rooms</span>
  </a>

  <a href="/listings?category=Iconic%20Cities" class="filter">
    <div><i class="fa-solid fa-city"></i></div>
    <span>Iconic Cities</span>
  </a>

  <a href="/listings?category=Mountains" class="filter <%= category === 'Mountains'? 'active' : ''%>">
    <div><i class="fa-solid fa-mountain"></i></div>
    <span>Mountains</span>
  </a>

  <a href="/listings?category=Castles" class="filter <%= category === 'Castles'? 'active' : ''%>">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <span>Castles</span>
  </a>

  <a href="/listings?category=Amazing%20Pools" class="filter <%= category === 'Amazing Pools'? 'active' : ''%>">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <span>Amazing Pools</span>
  </a>

  <a href="/listings?category=Camping" class="filter <%= category === 'Camping'? 'active' : ''%>">
    <div><i class="fa-solid fa-campground"></i></div>
    <span>Camping</span>
  </a>

  <a href="/listings?category=Farms" class="filter <%= category === 'Farms'? 'active' : ''%>">
    <div><i class="fa-solid fa-cow"></i></div>
    <span>Farms</span>
  </a>

  <a href="/listings?category=Arctic" class="filter <%= category === 'Arctic'? 'active' : ''%>">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <span>Arctic</span>
  </a>

</div>


       
         
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for (const listing of allListings) { %>
      <a href="/listings/<%=listing._id%>" class="listing-link">
   <div class="card listing-card"  >
  <img src="<%= listing.image.url %>" class="card-img-top" alt="listings image" style="height: 20rem;">
    <div class="card-img-overlay"></div>
  <div class="card-body">
   <p class="card-text">
    <strong><%= listing.title %></strong><br>

    <i class="fa-solid fa-location-dot"></i>
    <%= listing.location %>, <%= listing.country %><br>

    <span class="price">
        &#8377; <strong><%= listing.price.toLocaleString("en-IN") %></strong> / night
    </span>
</p>
    
  </div>
</div>
</a>
 <% } %>
</div>
      
</body>

